.items{
    position: fixed;
    bottom: 0px;
    background-color:#F7F7F7;
    opacity: 0.9;
    color:#52575D;
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    gap:10px;


}
