.header{

    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-left:25%;
    background-color:white;
    opacity: 0.5;
    width: 50%;
    height: 100px;
    padding-top: 40px;
    box-shadow: 0 14px 20px #A9B5DF;
    border-radius: 20px;

}